* {
    margin: 0 ;
    
    font-family: Rubik;
    box-sizing:border-box
   
      
}


body { 
    min-width: 750px; 
    margin:0;
    padding: 0;
    z-index: -1;
    
}

header{
    font-size: 15px;
}

nav{
    list-style-type:none;
    margin:0px;
    padding-top: 40px;
    background-color: white;
    

}


nav a {
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family:sans-serif;
    
}


#logo{
    height: 100px;
    width: 100px;
    float: left;
   
}

nav a:hover{
    color: indianred;
    text-decoration: none;
    font-weight: none;
    
}



.contain{
    padding:10px;
    margin-top: 40px;
    height: 320px;
    width: 100%;
    display: inline-block;
    background-color: #7FE0D4;
    
    
}


.icons img{
    height: 50px;
    
    
}

.top{
    font-weight: bold;
}

.container2{
    margin-top: 75px;
    height: 150px;
    background-color: #f2f2f2;
}

.container2 h2{
    text-align: center;
   padding-top: 2em;
    
}

#a{
    overflow: hidden;
    display: inline-block;
    white-space: nowrap; 
}

#t1{
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.b{
    padding: 0 30px;
}
/* Container for featured artist */
.container3{
    margin-top: 75px;
    height: 500px;
    width: 100%;
    background-color: #f2f2f2;
}

.btn{
    background-color: #de0030;
    color: white;
    border-style: solid;
    border-color: #de0030;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 0.9283rem 1.875rem 1rem 1.875rem;
}

.btn:hover{
    background-color:  #cc0000;
}



/* CSS For featured works */
.box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin-top: 100px;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   } 


   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  
  /* CSS For Meet the Artist Cards */
.img-wrapper
{
	width: 200px;
	height: 300px;
	position: relative;
	overflow: hidden;
}

.img-wrapper:before
{
	content: '';

	left: 180%;
	height: 100%;
	width: 100%;
	
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper img
{
	height: 400px;
	width: 300px;
	filter: grayscale(0%);
	transition: 2s;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper h2 
{
	background: tomato;
	font-family: Poppins;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

.image-area{
   margin:50px 100px 100px;
   
}


/* Section for art biography */
.left{
    text-align: left;
    padding: 4px;
}

.art{
    height: 300px;
    width: 300px;
    margin: 100px 40px 100px 60px;
    
}

/* Section with refund */
.refund{
    text-align: center;
    margin-top: 100px;
}



.search-text{
	margin-top:50px;
	background-color: #272d33;
	padding-top:60px;
	padding-bottom:60px;
}
	
.search-text .input-search{
	height:45px;
	width:40%;
	padding-left:20px;
    color:#333;
} 

.search-text .btn-search{
    background: #da3e44;
    font-family:Roboto;
    border:none;
	color:#FFF;
	height: 45px;
    width: 80px;
}

.search-text h4{
    color: #FFF;
    font-weight: 700;
}

footer{
     background-color: #33383c;
     padding:30px 0px;
     display: block;
}	       

.logo{
    
    font-weight:700;
    font-size:30px;
}

.address span , .menu span{
   color: #FFF; 
   font-weight: bold; 
   border-bottom: 1px solid #c7c7c7; 
   padding:10px 0px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 


.address li, .menu li a{
    margin:20px 0px;
    list-style: none;
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
    
}

.menu li{
    padding:5px;
}

 .menu li a:hover{
    color: #da3e44;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.rights{
   text-align: center;
}

/* CSS FOR ARTWORK.HTML */
.view-work{
  
        padding:10px;
        margin-top: 50px;
        height: 150px;
        width: 100%;
        overflow: hidden;
        
}
.view-work, p h1{
    text-align: center;
}

.card-art {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 16px;
  }
  
  
  


  .card-container {
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }
 

